<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Accueil</h1>
    
    <h2>Inscription</h2>
    <form action="{{ url_for('inscription') }}" method="post">
        <label for="nom">Nom :</label>
        <input type="text" name="nom" required><br>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Inscrire">
    </form>

    <h2>Connexion</h2>
    <form action="{{ url_for('connexion') }}" method="post">
        <label for="nom_connexion">Nom :</label>
        <input type="text" name="nom_connexion" required><br>

        <label for="password_connexion">Mot de passe :</label>
        <input type="password" name="password_connexion" required><br>

        <input type="submit" value="Se connecter">
    </form>
</body>
</html>
