html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    border: 1px solid black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Marianne", Arial, sans-serif;
}

body {
    height: 100%;
    background-color: #ffffff;
    /* background: rgb(168, 150, 139);
    display: flex;
    flex-direction: column; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-sfamily: "Marianne", Arial, sans-serif;
    font-size: 15px;
    /* background-image: url('../img/logo.jpg');
    background-size: cover; 
    background-repeat: no-repeat;  */
}


.page-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 3fr; */
    grid-template-rows: auto 1fr auto;
    /* background: #f1efef; */
    /* background-image: url('../img/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0px 10px 0px 10px; */

}

.header {
    grid-row: 1;
    backgrounjd: rgb(168, 153, 18);
    height: 35px;
    /* fixe */
    display: flex;
    justify-content: space-between;

    margin-top: 3px;
}


.item-left {
    width: 400px;
    display: flex;
    color: #ffffff;
    /* align-items: start; */
    justify-content: space-between;
}

.item-left ul {
    height: 35px;
    width: 300px;
}

.item-left li {
    width: 300px;

}

.item-left li {
    height: 29px;
    font-size: 15px;
    margin: 0px 5px 0px 0px;
    padding: 3px 10px;
    background-color: rgb(122, 185, 243);
}

.item-left li:nth-child(2) {
    margin-left: 10px;
    background-color: rgb(143, 194, 67);

}


/* right */
.nav-right {
    width: 200px;
}

.item-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sigin {
    position: relative;
}

/* item signin hidden */
.item-signin-hidden {
    display: none;
    color: rgb(121, 117, 117);
    border-bottom: 1px solid #d4d0d0;
    background: #dfd5d5;

}

/* to display item hidden */
.item-signin-visible {
    height: 50px;
    position: absolute;
}

.item-signin-visible li {
    /* display: block; */
    padding: 4px 4px;
    border-bottom: 1px solid #a59999;
    /* background: #dfd5d5; */
}

/* css du burger */
/* hidde item burger */

.burger {
    position: relative;
}

.item-burger-hidden {
    display: none;
}

.item-burger-visible {
    position: absolute;
    /* absolute pck le height du header est court pour eviter le bug au click */
    right: 0;
}

/* css du sub-item signin in burger */
.item-signin-mobile-hidden {
    display: none;
}





.content-section {
    grid-row: 2;
    backgrocund: rgb(239, 239, 240);
    background-image: url('../img/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.page-footer {
    grid-row: 3;
    background: rgb(228, 225, 225);
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #616362;
}

.foot-left,
.foot-middle,
.foot-right {
    display: flex;
    justify-content: space-between;
}

.page-footer li {
    margin: 10px 20px;

}


@media only screen and (max-width: 667px) {

    /* hidden ce items */
    .signin,
    .search {
        display: none;
    }

    .item-left {
        width: 200px;
    }

    .item-right {
        justify-content: flex-end;
    }

    .item-mobile {
        position: relative;
        display: block;
        padding: 10px;
        margin-bottom: 15px;
        background: #817b7b;
    }

    .itehm-mobile {
        display: block;
    }

    .item-signin-mobile-visible {}

    .page-footer {
        height: 100px;

        flex-direction: column;
        align-items: center;
    }
}