html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    height: 100vh;
    background: rgb(89, 222, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

p{

    font-size: 60px;
    color: rgb(116, 99, 31);
}