<!-- templates/modifier_infos.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Informations Utilisateur</title>
</head>
<body>
    <h1>Modifier Informations Utilisateur</h1>
    <h1>Modifier Informations Utilisateur</h1>
    <form action="{{ url_for('modifier_infos') }}" method="post">
        <label for="username">Nouveau Nom d'utilisateur:</label>
        <input type="text" id="username" name="username" required>
        <br>

        <label for="password">Nouveau Mot de passe:</label>
        <input type="password" id="password" name="password" required>
        <br>

        <label for="email">Nouveau Email:</label>
        <input type="email" id="email" name="email" required>
        <br>

        <input type="submit" value="Modifier Informations">
    </form>
</body>
</html>
