<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jeux.css') }}">

    <script src="https://kit.fontawesome.com/5c6f45e03d.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
   
        <p>Merci, vous etes connecter.</p>
    
</body>
</html>